.initial-background {
  background-color: #020f11;
}

.first-background {
  background-image: url("../images/mask1.png");
  background-repeat: no-repeat;
  background-size: 100% 1557px;
}

.second-background {
  background-image: url("../images/mask2.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.sticky-header {
  position: fixed;
  top: 0px;
  z-index: 1000;
  background-color: #0f1b1d;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.menu-form {
  background-image: url("../images/menu.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 151px;
  height: 27px;
  margin-top: 100px;
  left: 0px;
  top: 0px;
}

.search-form {
  padding-left: 40px;
  height: 55px;
  border: 1px solid #253032;
  background-color: #0f1b1d;
  border-radius: 27px;
  color: white;
  outline: none;
}

.icon-form {
  left: 10px;
  top: 15px;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 23px;
  width: calc(1em);
}

.cart-form {
  width: 55px;
  height: 55px;
  font-size: 18px;
  border: 1px solid #e5e7eb;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fill-button-form {
  height: 55px;
  background-color: #7971f5;
  border: 1px solid #7971f5;
  border-radius: 20px;
  font-size: 18px;
  box-sizing: border-box;
}

.fill-button-form:hover {
  background-color: transparent;
  border: 1px solid #7971f5;
}

.outline-button-form {
  height: 55px;
  background-color: transparent;
  border: 1px solid #7971f5;
  border-radius: 20px;
  font-size: 18px;
  box-sizing: border-box;
}

.outline-button-form:hover {
  background-color: #7971f5;
  border: 1px solid #7971f5;
}

.block-item {
  background-color: #0f1b1d;
  border: 1px solid #253032;
  border-radius: 25px;
  width: 100%;
  height: 154px;
  display: flex;
  align-items: center;
  color: white;
}

.double-background {
  position: relative;
  width: 100%;
  height: 800px;
  background-size: 100% 800px;
  background-repeat: no-repeat;
  background-image: url("../images/double-background.png");
}

.mobile-double-background {
  position: relative;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/mobile-double.png");
}

.girl-image {
  background-image: url("../images/girl.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.man-image {
  background-image: url("../images/man.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.select-form {
  border-bottom: 1px solid #253032;
  height: 80px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.arrow-block-form1 {
  width: 537px;
  height: 178px;
  border: none;
  border-radius: 31px;
  padding: 15px;
  right: 49px;
  bottom: 49px;
  background-color: #020f11;
  color: #d9f777;
}

.arrow-block-form1:hover {
  background-color: #d9f777;
  color: #020f11;
}

.arrow-block-form1:hover .arrow-item {
  position: relative;
  animation-name: example;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.arrow-block-form2 {
  width: 537px;
  height: 178px;
  border: none;
  border-radius: 31px;
  padding: 15px;
  right: 49px;
  top: 49px;
  background-color: #d9f777;
}

.arrow-block-form2:hover {
  color: #d9f777;
  background-color: #020f11;
}

.arrow-block-form2:hover .arrow-item {
  position: relative;
  animation-name: example;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 25px;
    top: -25px;
  }
}

.arrow-block-small-form {
  width: 251px;
  height: 95px;
  border: none;
  border-radius: 21px;
}

.third-background {
  background-image: url("../images/mask3.png");
  background-repeat: no-repeat;
  background-size: 50% 1150px;
}

.menu-two-form {
  background-image: url("../images/menu-two.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 267px;
  height: 27px;
  margin-top: 27px;
  left: 0px;
  top: 0px;
}

.curve-form {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 50% 25px !important;
  border-bottom-right-radius: 50% 25px !important;
  overflow: hidden;
}

.filter-block-form {
  width: 100%;
  height: 112px;
  border: 1px solid #ffffff1a;
  background-color: #0c181b;
  border-radius: 40px;
  margin-top: 40px;
}

.filter-input-form {
  padding-right: 40px;
  padding-left: 20px;
  height: 65px;
  border: 1px solid #ffffff4d;
  background-color: transparent;
  border-radius: 18px;
  opacity: 1;
  color: white;
  outline: none;
}

.filter-icon-form {
  right: 10px;
  bottom: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  width: 25px;
  height: 25px;
}

.filter-button-form {
  /*width: 399px;*/
  height: 65px;
  background: #172427 0 0 no-repeat padding-box;
  border: 1px solid #ffffff66;
  border-radius: 24px;
  font-size: 24px;
}

.filter-select-form {
  border: 1px solid #ffffff4d;
  border-radius: 18px;
  font-size: 18px;
  padding: 20px;
}

/* Define custom select form */
.select {
  position: relative;
  min-width: 200px;
}

.select select {
  padding: 0 40px 0 20px;
  border: 1px solid #ffffff4d;
  border-radius: 18px;
  background: transparent;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  transition: all 150ms ease;
  color: white;
}
.select select:required:invalid {
  color: white;
}
select option {
  color: black;
}
select option[value=""][disabled] {
  display: none;
}
select:focus {
  outline: none;
}

.menu-three-form {
  background-image: url("../images/menu-three.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 267px;
  height: 27px;
  margin-top: 27px;
  left: 0px;
  top: 0px;
}

.four-background {
  background-image: url("../images/mask4.png");
  background-repeat: no-repeat;
  background-size: 100% 1440px;
  position: relative;
  top: 100px;
}

.slick-card {
  border: 1px solid #253032;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

.outline-block {
  padding: 10px;
  background-color: #0a1718;
  border: 1px solid #253032;
  border-radius: 20px;
}
/* 
#wave {
  position: relative;
  height: 70px;
  width: 600px;
  background: #e0efe3;
}
#wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 340px;
  height: 80px;
  background-color: black;
  right: -5px;
  top: 40px;
}
#wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 300px;
  height: 70px;
  background-color: #e0efe3;
  left: 0;
  top: 27px;
} */

.submenu {
  width: 802px;
  height: 461px;
  border: 1px solid #253032;
  background-color: #010f11;
  border-radius: 40px;
  color: white;
  outline: none;
  margin-left: -330px;
  display: flex !important;
}

.submenu-drop {
  width: 468px;
  margin-left: 15px;
}

.submenu-drop-form {
  width: 451px;
  height: 141px;
  background-color: #c7e9e6;
  border-radius: 24px;
  margin-top: 16px;
}

.submenu-image {
  width: 301px;
  height: 429px;
  margin-right: 12px;
  margin-top: 16px;
  background-image: url("../images/profile.png");
  object-fit: fill;
  border-radius: 32px;
  border-color: #253032;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  /* width: 800px; */
  display: none;
  position: absolute;
  color: white;
  background-color: #010f11;
  border: 1px solid #253032;
  border-radius: 30px;
  /* min-width: 350px; */
  /* max-width: 800px; */
  padding: 12px 16px;
  z-index: 1;
  padding-top: 30px;
}

.dropdown-item {
  color: white;
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-subitem {
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 35px;
  width: 430px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 10px; */
}

.dropdown-arrow {
  display: none;
  width: 40px;
  height: 32px;
  background-color: white;
  border-radius: 21px;
  padding: 5px;
}

.dropdown-title-arrow {
  width: 40px;
  height: 32px;
  border-radius: 21px;
  background-color: transparent;
  border: 1px solid black;
  padding: 5px;
}

.dropdown-subitem:hover {
  border: 1px solid #253032;
  background-color: #0f1b1d;
}

.dropdown-subitem:hover .dropdown-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-image1 {
  display: none;
  background-image: url("../images/submenu/submenu-image5.png");
  background-size: 280px 450px;
  background-repeat: no-repeat;
  border-radius: 20px;
  /* transition: all 0.5s ease; */
  position: absolute;
  right: 20px;
  top: 30px;
  width: 280px;
  height: 450px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.development-item:not(hover) .dropdown-image1 {
  display: block;
  background-image: url("../images/submenu/submenu-image5.png");
}

/* .ux-ui-item:not(hover) .dropdown-image1 {
  display: block;
  background-image: url("../images/submenu/submenu-image5.png");
  transition: all 0.5s ease;
}

.marketing-digital-item:not(hover) .dropdown-image1 {
  display: block;
  background-image: url("../images/submenu/submenu-image5.png");
  transition: all 0.5s ease;
}

.cultural-digital-item:not(hover) .dropdown-image1 {
  display: block;
  background-image: url("../images/submenu/submenu-image5.png");
  transition: all 0.5s ease;
} */

.development-item:hover .dropdown-image1 {
  display: block;
  background-image: url("../images/submenu/submenu-image4.png");
}

.ux-ui-item:hover .dropdown-image1 {
  display: block;
  background-image: url("../images/submenu/submenu-image1.png");
}

.marketing-digital-item:hover .dropdown-image1 {
  display: block;
  background-image: url("../images/submenu/submenu-image6.png");
}

.cultural-digital-item:hover .dropdown-image1 {
  display: block;
  background-image: url("../images/submenu/submenu-image2.png");
}

.dropdown-image2 {
  display: none;
  background-image: url("../images/submenu/submenu-image3.png");
  background-size: 280px 450px;
  background-repeat: no-repeat;
  border-radius: 20px;
  /* transition: all 0.5s ease; */
  position: absolute;
  right: 20px;
  top: 30px;
  width: 280px;
  height: 450px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.site-web-item:not(hover) .dropdown-image2 {
  display: block;
  background-image: url("../images/submenu/submenu-image3.png");
}

/* .application-item:not(hover) .dropdown-image2 {
  display: block;
  background-image: url("../images/submenu/submenu-image5.png");
  transition: all 0.5s ease;
}

.sociaty-item:not(hover) .dropdown-image2 {
  display: block;
  background-image: url("../images/submenu/submenu-image5.png");
  transition: all 0.5s ease;
}

.compatability-item:not(hover) .dropdown-image2 {
  display: block;
  background-image: url("../images/submenu/submenu-image5.png");
  transition: all 0.5s ease;
} */

.site-web-item:hover .dropdown-image2 {
  display: block;
  background-image: url("../images/submenu/submenu-image10.png");
}

.application-item:hover .dropdown-image2 {
  display: block;
  background-image: url("../images/submenu/submenu-image7.png");
}

.sociaty-item:hover .dropdown-image2 {
  display: block;
  background-image: url("../images/submenu/submenu-image9.png");
  border: 1px solid #253032;
  border-radius: 40px;
}

.compatability-item:hover .dropdown-image2 {
  display: block;
  background-image: url("../images/submenu/submenu-image8.png");
}

.dropdown-submenu-background1 {
  background-image: url("../images/submenu2.png");
  background-repeat: no-repeat;
  background-size: 451px 100%;
  border-radius: 30px;
  color: black;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
}

.dropdown-submenu-background2 {
  background-image: url("../images/submenu1.png");
  background-repeat: no-repeat;
  background-size: 451px 100%;
  border-radius: 30px;
  color: black;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
}

.dropdown-submenu-background3 {
  background-image: url("../images/submenu1.png");
  background-repeat: no-repeat;
  background-size: 481px 100%;
  border-radius: 30px;
  color: black;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
}

.dropdown-submenu-background1:hover .dropdown-title-arrow {
  position: relative;
  animation-name: dropdown-icon;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  background-color: black;
  border: 1px solid black;
  color: white;
}

.dropdown-submenu-background2:hover .dropdown-title-arrow {
  position: relative;
  animation-name: dropdown-icon;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  background-color: black;
  border: 1px solid black;
  color: white;
}

.dropdown-submenu-background3:hover .dropdown-title-arrow {
  position: relative;
  animation-name: dropdown-icon;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  background-color: black;
  border: 1px solid black;
  color: white;
}

@keyframes dropdown-icon {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 10px;
    top: 0px;
  }
}

@font-face {
  font-family: Degular;
  src: url(../fonts/Degular-Medium.otf) format("opentype");
  font-weight: Medium;
}

@font-face {
  font-family: Degular;
  src: url(../fonts/Degular-Regular.otf) format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: Gelica;
  src: url(../fonts/fonnts.com-Gelica-Medium.otf) format("opentype");
  font-weight: Medium;
}

@font-face {
  font-family: Gelica;
  src: url(../fonts/fonnts.com-Gelica-Light.otf) format("opentype");
  font-weight: lighter;
}

* {
  font-family: Degular;
}

.font-Gelia {
  font-family: Gelica;
}

.smooth-sizing {
  width: 120px;
}

.interval {
  margin-right: -192px;
}

@media only screen and (max-width: 1695px) {
  .interval {
    margin-right: -140px;
  }

  .smooth-sizing {
    width: 100px;
  }
}

@media only screen and (max-width: 1320px) {
  .interval {
    margin-right: -110px;
  }

  .smooth-sizing {
    width: 70px;
  }
}

.curve-mask {
  -webkit-mask-image: url("../images/curve.png");
  mask-image: url("../images/curve.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
